@model List<PcSoluciones.Models.ViewModel.ItinerarioVista.UsuarioConItinerarioModel>

<!-- hoja de estilos de FontAwesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="btn-container">
    <button class="btn btn-outline-info" onclick="getListItinerarios()">
        <i class="fas fa-sync"></i> Refrescar
    </button>
    <button class="btn btn-outline-success" onclick="document.location.href='@Url.Content("~/Itinerario/New")'">
        <i class="fas fa-plus"></i> Nuevo
    </button>
</div>

<div class="container mt-3">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div id="divLista" class="form-horizontal mt-4">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>ID</th>
                    <th>Fecha de Asignación</th>
                    <th>Descripción</th>
                    <th>Número de Cédula del Técnico</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    foreach (var itinerario in item.Itinerarios)
                    {
                        <tr>
                            <td>@item.usuario.nombre</td>
                            <td>@itinerario.id_itinerario</td>
                            <td>@itinerario.fecha_asignacion</td>
                            <td>@itinerario.descripcion</td>
                            <td>@itinerario.num_cedulaTec</td>
                            <td>
                                <a href="@Url.Content("~/Itinerario/Edit/" + itinerario.id_itinerario)" class="btn btn-outline-primary">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <button class="btn btn-outline-danger" onclick="eliminarItinerario(@itinerario.id_itinerario)">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

