@model PcSoluciones.Models.ViewModel.InformeFalloVista.InformeModel

@{
    ViewBag.Title = "Nuevo Informe de Fallo";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/pictures/FondoCm.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-group {
        margin-bottom: 15px;
    }

    h2 {
        color: #333;
        text-align: center;
        margin: 15px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div>
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center" style="background-color: #fff; border-radius: 0 0 20px 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 20px;">
                    @using (Html.BeginForm("Save", "InformeFallo", FormMethod.Post, new { id = "formNuevoInforme" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label for="fecha_aprox">Fecha Aproximada:</label>
                            <input type="date" id="fecha_aprox" name="fecha_aprox" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="estado">Estado:</label>
                            <input type="text" id="estado" name="estado" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="repuesto">Repuesto:</label>
                            <input type="text" id="repuesto" name="repuesto" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="idComput">ID Computadora:</label>
                            @Html.DropDownListFor(d => d.idComput, (IEnumerable<SelectListItem>)ViewBag.IdComputadoraList, "Seleccione una opción", new { @class = "form-control", id = "idComput" })
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="funInsertar()">Guardar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var url = "@Url.Content("~/InformeFallo/Save")";

    function funInsertar() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                fecha_aprox: document.getElementById("fecha_aprox").value,
                estado: document.getElementById("estado").value,
                repuesto: document.getElementById("repuesto").value,
                idComput: document.getElementById("idComput").value
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok)
                return response.text()
            else
                alert("Error al ejecutar:(")
        }).then(function (Data) {
            if (Data != "1") {
                alert(Data)
            } else {
                window.location.href = '@Url.Content("~/InformeFallo/Index")';
            }
        })
    }
</script>




